{% extends 'base.html' %} {% block content %} {% load humanize %}
<main>
  <div>
    <h1>Receipts</h1>
  </div>
  <table>
    <thead>
      <tr>
        <th>Vendor</th>
        <th>Total</th>
        <th>Tax</th>
        <th>Date</th>
        <th>Category</th>
        <th>Account</th>
      </tr>
    </thead>
    <tbody>
      {% for receipt in receiptslist %}
      <tr>
        <td>{{receipt.vendor|upper }}</td>
        <td>$ {{receipt.total|floatformat:2|intcomma }}</td>
        <td>{{receipt.tax }}</td>
        <td>{{receipt.date|date:"m/d/Y" }}</td>
        <td>{{receipt.category|upper }}</td>
        <td>{{receipt.account|upper }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</main>
{% endblock content %}
